<div class="row" style="margin-top: 50px;">
    <div class="col-md-6">
        <div class="card border-dark mb-3">
            <div class="card-header boldFields">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="idAirportTab" data-toggle="tab" href="#" onclick="showTabs('Airport');">Airport Transfer</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="container" id="divSearchRides" style="display:none;">
                    <div class="form-group" id="divPickup">
                        <label for="pickupPlace" class="boldFields">Pickup place<span class="mandatoryFields">*</span></label>
                        <input type="text" class="form-control" value="St. John’s Medical College, John Nagar, Koramangala, Bengaluru, Karnataka, India" readonly id="pickupPlaceSearch">
                    </div>
                    <div class="form-group" id="divAiportDropField">
                        <label for="dropPlace" class="boldFields">Airport Drop<span class="mandatoryFields">*</span></label>
                        <input type="text" class="form-control" value="Kempegowda International Airport (BLR), Devanahalli, Bengaluru, Karnataka 560300, India" disabled id="dropPlaceSearch">
                    </div>
                </div>
                <div id="divloadMap"></div>
                <div class="container" id="divAvailableRides">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-6">
                                    Airport Drop
                                </div>
                                <div class="col-md-5" style="margin-left: 45px;">
                                    <button type="button" class="btn btn-success">
                                        AC
                                    </button>
                                </div>
                                <div class="col-md-1">
                                    <input type="hidden" id="hdnServiceTypeID" value="2" />
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush ratelistAirportTransfer"></ul>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <h1 style="padding: 13px;font-size: 26px;">Book Cabs from St. John’s Medical College</h1>
            <div class="card-body" style="margin-top: -30px;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <b>Cab services from St. John’s Medical College</b>
                        U Taxi  Provides Best and affordable cheap cabs service in and around from St. John’s Medical College. We have excellent cab monitoring systems that keep the liability of the cars and well trained, professional drivers.
                    </li>
                    <li class="list-group-item">Book a U Taxi from Bangalore, We will ensure that you get picked up from any corner of the city at your doorstep. We assure you a premium experience at the most affordable and cheaper rates compared to other taxi services in Bangalore</li>

                </ul>
            </div>
        </div>
        <br />
        <div class="card">
            <h2 style="padding: 13px;font-size: 23px;">Airport Drop Services from St. John’s Medical College</h2>
            <div class="card-body" style="margin-top: -30px;">
                <table style="width:100%">
                    <tr>
                        <td><a href="https://www.utaxi.in/cheapesttaxiinbangalore/MadiwalatoAirporttransfer/AirportDrop">Madiwala</a></td>
                        <td><a href="https://www.utaxi.in/cheapesttaxiinbangalore/SilkboardJunctiontoAirporttransfer/AirportDrop">Silk Board Junction</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://www.utaxi.in/cheapesttaxiinbangalore/BtmLakeRoadtoAirporttransfer/AirportDrop">Btm Lake Road</a></td>
                        <td><a href="https://www.utaxi.in/cheapesttaxiinbangalore/UdupiGardenJunctiontoAirporttransfer/AirportDrop">Udupi Garden Junction</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://www.utaxi.in/cheapesttaxiinbangalore/JayadevaHospitalJunctiontoAirporttransfer/AirportDrop">Jayadeva Hospital Junction </a></td>
                        <td><a href="https://www.utaxi.in/cheapesttaxiinbangalore/DairyCircletoAirporttransfer/AirportDrop">Dairy Circle</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://www.utaxi.in/cheapesttaxiinbangalore/BilekahallitoAirporttransfer/AirportDrop">Bilekahalli</a></td>
                        <td><a href="https://www.utaxi.in/cheapesttaxiinbangalore/BismillaNagartoAirporttransfer/AirportDrop">Bismilla Nagar</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://www.utaxi.in/cheapesttaxiinbangalore/TavarekeretoAirporttransfer/AirportDrop">Tavarekere</a></td>
                        <td><a href="https://www.utaxi.in/cheapesttaxiinbangalore/SGPalyatoAirporttransfer/AirportDrop">SG Palya</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://www.utaxi.in/cheapesttaxiinbangalore/NSPalyatoAirporttransfer/AirportDrop">NS Palya</a></td>
                        <td><a href="https://www.utaxi.in/cheapesttaxiinbangalore/StJohnsJunctiontoAirporttransfer/AirportDrop">St Johns Junction</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://www.utaxi.in/cheapesttaxiinbangalore/ForumMalltoAirporttransfer/AirportDrop">Forum Mall</a></td>
                        <td><a href="https://www.utaxi.in/cheapesttaxiinbangalore/GangothriCircletoAirporttransfer/AirportDrop">Gangothri Circle</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <br />
    </div>
    <div class="col-md-6">
        <div class="card">
            <h3 style="padding: 13px; text-align:center;font-size: 26px;">Taxi Service from St. John’s Medical College</h3>
            <div class="card-body">
                <table style="width:100%">
                    <tr>
                        <th>From</th>
                        <th>To</th>
                        <th>Price</th>
                    </tr>
                    <tr>

                        <td>Madiwala</td>
                        <td>Airport Drop</td>
                        <td>674/-</td>
                    </tr>
                    <tr>

                        <td>Silk Board Junction</td>
                        <td>Airport Drop</td>
                        <td>674/-</td>
                    </tr>
                    <tr>

                        <td>Btm Lake Road</td>
                        <td>Airport Drop</td>
                        <td>674/-</td>
                    </tr>
                    <tr>

                        <td>Udupi Garden Junction</td>
                        <td>Airport Drop</td>
                        <td>674/-</td>
                    </tr>
                    <tr>

                        <td>Jayadeva Hospital Junction </td>
                        <td>Airport Drop</td>
                        <td>674/-</td>
                    </tr>
                    <tr>

                        <td>Dairy Circle</td>
                        <td>Airport Drop</td>
                        <td>674/-</td>
                    </tr>
                    <tr>

                        <td>Bilekahalli</td>
                        <td>Airport Drop</td>
                        <td>674/-</td>
                    </tr>
                    <tr>

                        <td>Bismilla Nagar</td>
                        <td>Airport Drop</td>
                        <td>674/-</td>
                    </tr>
                    <tr>

                        <td>Tavareker</td>
                        <td>Airport Drop</td>
                        <td>674/-</td>
                    </tr>
                    <tr>

                        <td>SG Palya</td>
                        <td>Airport Drop</td>
                        <td>674/-</td>
                    </tr>
                    <tr>

                        <td>NS Palya</td>
                        <td>Airport Drop</td>
                        <td>674/-</td>
                    </tr>
                    <tr>

                        <td>St Johns Junction</td>
                        <td>Airport Drop</td>
                        <td>674/-</td>
                    </tr>
                    <tr>

                        <td>Forum Mall</td>
                        <td>Airport Drop</td>
                        <td>674/-</td>
                    </tr>
                    <tr>

                        <td>Gangothri Circle</td>
                        <td>Airport Drop</td>
                        <td> 674/-</td>
                    </tr>

                </table>
            </div>
        </div><br />
    </div>
    <div class="col-md-6">
        <div class="card">
            <h4 style="padding: 16px;font-size: 18px;margin-bottom: -25px;">Book Cab HatchBack INR 8/km non Ac and 8.5/km AC</h4>
            <div class="card-body">
                <ul class="list-group list-group-flush">

                    <p>
                        INR 8 and 8.5 for one way and round trip for ac and non ac respectively. Our Hatchback vehicles are Tata Indica, Maruti Swift, Maruti Ritz, Toyota Etios Liva.
                        Hatchback vehicles are 4+1 seater and can accommodate 2 bags of luggage maximum. Our Vehicles can be used for both Airport taxi and outstation cabs rentals
                        and Per day 250 average km/250 Driver Bata
                    </p>

                </ul>
            </div>

        </div>
        <div class="card">
            <h4 style="padding: 16px;font-size: 18px;margin-bottom: -25px;">Book Sedan Cab Rs.9/km non Ac and Rs 9.5/km AC </h4>
            <div class="card-body">
                <p>
                    Per day 250 average km/250 Driver Bata
                    INR 9 and 9.5 for one way and  for round trip for ac and non ac respectively. Our Sedan Vehicles are Maruti Swift Dzire, Renault Logan, Toyota Etios, Mahindra Verito. Sedan models also come with 4+1 seater which has boot space to accommodate 5 bags. Our vehicles used for both outstation vehicles rentals and Bengaluru airport taxi/cabs.

                </p>
            </div>
        </div>
        <div class="card">
            <h4 style="padding: 16px;font-size: 18px;margin-bottom: -25px;">Book SUV Cab Rs.12.5/km Ac for 6 seater and Rs 13/km Ac for 7 seater </h4>
            <div class="card-body">
                <p>
                    Per day 250 average km/300 Driver Bata no any cab service will provide in this cheaper rates and also for average 250kms/day
                    Our SUV Vehicles Toyota Innova, , Mahindra Xylo, Chevrolet Enjoy are the SUV models which has a seating capacity of 6+1/7+1 and luggage space for 6 suitcase or trolleys and also available with top carriers top of the vehicle. Ideal for Family / Small group Rentals.

                </p>
            </div>
        </div>
        <div class="card">
            <h4 style="padding: 16px;font-size: 18px; margin-bottom: -25px;">Book Tempo Traveller Rs.14/km Non AC and Rs.16/km AC</h4>
            <div class="card-body">
                <p>
                    Per day 300 average km/350 Driver Bata
                    If you are a bigger group we have Tempo Traveller vehicles 12+1 Seater which can easily accommodate 12 people and enough luggage on top and back of the vehicle. Since these vehicles are 4 wheel drive they are ideal for hill station trips, trekking groups & camping.


                </p>
            </div>
        </div>
        <div class="card">
            <h4 style="padding: 16px;font-size: 18px; margin-bottom: -25px;">Customer Support 24/7 Taxi Services</h4>
            <div class="card-body">
                <p>
                    Our customer support team works 24/7 for  365 days to ensure door to door pickup and drop from all parts of St. John’s Medical College to Bengaluru International Airport our drivers will reach you safely as per your convenient time to catch your domestic or international flight.

                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card classPackage mb-3">
            <div class="card-body">

                <h2>Outstation Taxi Service in Bangalore</h2>
                <p>If you are looking for an outstation trip from Bangalore for a family weekend gateway, office trip or even business travel, Bangalore gives you lot of options, for 2-3 days or even for week long trips. This can be temple tours, weekend getaways to hill stations, trekking places, forests, beautiful waterfalls, or heritage places.</p>

                <p>Visiting to these places with family or friends is best done by availing <a href="https://www.utaxi.in/bangalore/outstation-taxi/bangalore-outstation-cabs.aspx">Outstation taxi services in Bangalore.</a> Going for for bangalore outstation cabs helps you easily spend time with family and friends and let the experienced driver manage the driving part.</p>

                <h5>Outstation Cabs from Bangalore</h5>
                <p>When you want to travel outstation and look for cab service, there are many things to keep in mind, such as type of vehicle, driver experience and knowledge of the route, agency background, rates, ease of booking, refunds, cancellations. It is not just about choosing less rates but also quality and service matters. Utaxi is developed to serve you this.</p>

                <p>To ease this hassle of comparing with tens of operators and not knowing exactly which operator to rely, Utaxi helps by verifying Bangalore operators and getting real time prices from them. At Utaxi, by submitting trip request, you will get up to 10 quotes with operator ratings and prices and vehicle models, so you can easily choose. This way Utaxi makes your booking most easy and get you cabs at best rates.</p>


                <h5>Distance and time from Bangalore to major cities</h5>
                <p>Bengaluru (Bangalore) is situated close to the most beautiful cities in Karnataka which includes Nandi Hills, Mysore, Coorg, Chennai, Wayanad, Chikmagalur, and Pondicherry. If you want to have a weekend getaway to any of these places, then hiring outstation cabs in Bangalore is the most appropriate mode of travel as you can reach your destination in optimal time.</p>

                <p>The below table highlights the major cities near Bangalore and approximate time to reach.</p>


                <table id="customers">
                    <tbody>
                        <tr>
                            <th>Destination</th>
                            <th>Distance from Bangalore</th>
                            <th>Time required to reach </th>
                            <th>Book Taxi</th>
                        </tr>
                        <tr>
                            <td>Taxi from Bangalore to Mysore</td>
                            <td>143 kms </td>
                            <td>3 hrs 30 mns</td>
                            <td> <a href="https://www.utaxi.in/bangalore/holiday-package-taxi-services/bangalore-to-mysore-one-day-tour-package.aspx">Book Now</a></td>
                        </tr>
                        <tr>
                            <td>Taxi from Bangalore to Coorg</td>
                            <td>237 kms </td>
                            <td>5 hrs 30 mns</td>
                            <td> <a href="https://www.utaxi.in/bangalore/holiday-package-taxi-services/bangalore-to-coorg-tour-package-for-1-night-2-days.aspx">Book Now</a></td>
                        </tr>
                        <tr>
                            <td>Taxi from Bangalore to Nandi Hills</td>
                            <td>60 kms </td>
                            <td>1 hrs 15 mns</td>
                            <td> <a href="https://www.utaxi.in/bangalore/holiday-package-taxi-services/bangalore-to-nandi-hills-one-day-sightseeing.aspx">Book Now</a></td>
                        </tr>
                        <tr>
                            <td>Taxi from Bangalore to Ooty</td>
                            <td>270 kms </td>
                            <td>6 hrs </td>
                            <td> <a href="https://www.utaxi.in/bangalore/holiday-package-taxi-services/coorg-ooty-conoor-2-nights-3-days-package.aspx">Book Now</a></td>
                        </tr>
                        <tr>
                            <td>Taxi from Bangalore to Wayanad</td>
                            <td>277 kms </td>
                            <td>6 hrs 30 mns</td>
                            <td> <a href="https://www.utaxi.in/bangalore/holiday-package-taxi-services/bangalore-to-wayanand-2-night-3-days-tour-package.aspx">Book Now</a></td>
                        </tr>
                        <tr>
                            <td>Taxi form Bangalore to Tirupati</td>
                            <td>250 kms </td>
                            <td>6 hrs </td>
                            <td> <a href="https://www.utaxi.in/bangalore/holiday-package-taxi-services/chikka-tirupathi-kotilingeshwara-one-day-package.aspx">Book Now</a></td>
                        </tr>
                        <tr>
                            <td>Taxi from Bangalore to Talakadu</td>
                            <td>242 kms </td>
                            <td>5 hrs 40 mns</td>
                            <td> <a href="https://www.utaxi.in/bangalore/holiday-package-taxi-services/bangalore-to-shivanasamudra-talakad-one-day-trip.aspx">Book Now</a></td>
                        </tr>
                    </tbody>
                </table>



                <li class="list-group-item">
                    <b>Driver Food &amp; Stay -</b>
                    Although we dont ask our Customer's to pay for our Drivers Food &amp; Stay, for the cab etc are part of the trip and not considered seperately.
                    when you stay at Hotels/Resorts/Home Stays or atleast give them time to find out themselves. Driver spending time for his food, filling fuel
                    but atleast ensure they are given enough time to take care of themselves. Drivers should get access to basic amenities to get fresh etc,

                </li>

                <br>

                <h5><a href="https://www.utaxi.in/Home/Index">Why book outstation cabs in Bangalore with Utaxi?</a></h5>
                <p>To book an outstation taxi service in Bangalore online, the most important thing to do is compare prices online! With so many new outstation taxi services in Bangalore hitting the market, you can easily end up paying more than your budget.</p>

                <p>Utaxi is your one-stop destination to find the best cab operators/cab rental agencies for outstation taxis in Bangalore, compare the best prices and book your cab online.</p>

                <p>This way you can compare and choose the best vehicle at affordable prices from local operators or agencies. Utaxi is the top site in India for comparing outstation taxi prices in Bangalore and booking outstation cabs in Bangalore online.</p>
                <table id="customers">
                    <tbody>
                        <tr>
                            <th>Destination</th>
                            <th>Distance from Bangalore</th>
                            <th>Time required to reach </th>
                            <th>Book Taxi</th>
                        </tr>
                        <tr>
                            <td>Taxi from Bangalore to Mysore</td>
                            <td>143 kms </td>
                            <td>3 hrs 30 mns</td>
                            <td> <a href="https://www.utaxi.in/bangalore/holiday-package-taxi-services/bangalore-to-mysore-one-day-tour-package.aspx">Book Now</a></td>
                        </tr>
                        <tr>
                            <td>Taxi from Bangalore to Coorg</td>
                            <td>237 kms </td>
                            <td>5 hrs 30 mns</td>
                            <td> <a href="https://www.utaxi.in/bangalore/holiday-package-taxi-services/bangalore-to-coorg-tour-package-for-1-night-2-days.aspx">Book Now</a></td>
                        </tr>
                        <tr>
                            <td>Taxi from Bangalore to Nandi Hills</td>
                            <td>60 kms </td>
                            <td>1 hrs 15 mns</td>
                            <td> <a href="https://www.utaxi.in/bangalore/holiday-package-taxi-services/bangalore-to-nandi-hills-one-day-sightseeing.aspx">Book Now</a></td>
                        </tr>
                        <tr>
                            <td>Taxi from Bangalore to Ooty</td>
                            <td>270 kms </td>
                            <td>6 hrs </td>
                            <td> <a href="https://www.utaxi.in/bangalore/holiday-package-taxi-services/coorg-ooty-conoor-2-nights-3-days-package.aspx">Book Now</a></td>
                        </tr>
                        <tr>
                            <td>Taxi from Bangalore to Wayanad</td>
                            <td>277 kms </td>
                            <td>6 hrs 30 mns</td>
                            <td> <a href="https://www.utaxi.in/bangalore/holiday-package-taxi-services/bangalore-to-wayanand-2-night-3-days-tour-package.aspx">Book Now</a></td>
                        </tr>
                        <tr>
                            <td>Taxi form Bangalore to Tirupati</td>
                            <td>250 kms </td>
                            <td>6 hrs </td>
                            <td> <a href="https://www.utaxi.in/bangalore/holiday-package-taxi-services/chikka-tirupathi-kotilingeshwara-one-day-package.aspx">Book Now</a></td>
                        </tr>
                        <tr>
                            <td>Taxi from Bangalore to Talakadu</td>
                            <td>242 kms </td>
                            <td>5 hrs 40 mns</td>
                            <td> <a href="https://www.utaxi.in/bangalore/holiday-package-taxi-services/bangalore-to-shivanasamudra-talakad-one-day-trip.aspx">Book Now</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
